@import "./colors.scss";

.add-button {
  background-color: $blue;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 7px 20px 7px 20px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  i {
    font-size: 14px;
    margin-right: 10px;
  }
}

.btn-back {
  background-color: white;
  border: 1px solid $blue;
  padding: 7px 25px 7px 25px;
  color: $blue;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.btn-modal-cancel {
  background-color: $danger;
  margin-bottom: 10px;
  font-size: 13px;
  color: white;
  padding: 7px 30px 7px 30px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn-modal-oke {
  background-color: $blue;
  margin-bottom: 10px;
  font-size: 13px;
  color: white;
  padding: 7px 30px 7px 30px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn-delete-cancel {
  background-color: gray;
  margin-bottom: 10px;
  font-size: 13px;
  color: white;
  padding: 7px 30px 7px 30px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
