@import "../scss/colors.scss";

.chart-box {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 40px;

  .chart-title {
    font-size: 15px;
    font-weight: 600;
    margin-left: 14px;
    margin-bottom: 20px;
  }

  .chart {
    width: 100%;
  }
}

.box {
  padding: 10px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 250px;
  padding-bottom: 20px;

  .box-head {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .box-body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    span {
      font-size: 26px;
      font-weight: 600;
    }

    i {
      color: rgb(7, 255, 7);
      font-size: 50px;
      font-weight: 800;
    }
  }
}
