@import "./colors.scss";

.login {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("@/assets/images/bg_login2.png");
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    position: absolute;
    top: 40px;
    left: 100px;
    display: flex;

    .author {
      margin-right: 10px;
      font-size: 10px;
      text-transform: uppercase;
      font-family: "InterSemiBold";
      position: relative;
      color: white;
      letter-spacing: 2px;
      border: 1px solid;
      height: 24px;
      padding: 4px;
      border-radius: 120px;
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 4px;
      top: 5px;
      left: 10px;
      background-color: #053364;
      border-color: #053364;
    }

    span {
      font-size: 10px;
      text-transform: uppercase;
      font-family: "InterSemiBold";
      position: relative;
      color: #053364;
      letter-spacing: 2px;
      border: 1px solid;
      height: 24px;
      padding: 4px;
      border-radius: 120px;
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 4px;
      top: 5px;
      left: 10px;
      background-color: white;
      border-color: white;
    }
  }

  .box {
    padding: 60px 60px 40px 60px;
    background-color: white;
    border-radius: 13px;
    .header {
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .body {
      .form-group {
        input {
          width: 300px;
        }
      }

      .chapcha {
        display: flex;
        gap: 30px;
        width: 300px;
        .chapcha-box {
          width: 40%;
          gap: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            background-color: rgb(230, 159, 159);
            padding: 0 10px 0 10px;
            font-size: 30px;
            font-weight: bolder;
            text-decoration: line-through;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }

          i {
            font-size: 25px;
            cursor: pointer;
          }
        }

        .chapcha-input {
          width: 60%;
          display: flex;
          justify-content: center;
          margin-top: 15px;

          input {
            width: 155px;
          }
        }
      }

      .footer {
        width: 300px;
        margin-top: 40px;
        margin-bottom: 40px;

        .btn-login {
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;

          span {
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
